//Mini Bootstrap ... create your own variables
$body-background: rgb(84, 104, 66);
$brand-primary: black;
$primary-font-size: 16px;
$secondary-font-size: $primary-font-size / 1.75pt;
$main-content-class: "portfolio-item";
$font: 'Lato', sans-serif;
