//Mini Bootstrap ... create your own variables
$body-background: #FEFEFE;
$brand-primary: #999;
$primary-font-size: 14pt;
$secondary-font-size: $primary-font-size / 2.5pt;
$main-content-class: "portfolio-item";